@import "tailwindcss";

@theme {
  --font-heading: var(--font-montserrat);
  --font-body: var(--font-lora);
  --color-arcgis-teal: #0f4c5c;
  --color-arcgis-dark: #121212;
  --color-arcgis-gray: #f2f2f2;
}

@layer utilities {
  .text-shadow {
    text-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}